<!DOCTYPE html>
<html
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/admin}"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sản phẩm</title>
  </head>
  <body>
    <section layout:fragment="content">
      <h1 class="px-5">Sản phẩm</h1>
      <div class="d-flex p-2">
        <div class="container-fluid p-5 text-center">
          <form
            class="mb-3 w-100"
            action="#"
            th:action="@{/product}"
            method="get"
          >
            <div class="row">
              <div class="col-md-4">
                <div class="input-group">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Nhập từ khóa"
                    th:name="name"
                    th:value="${name}"
                  />
                  <button type="submit" class="btn btn-primary">
                    Tìm kiếm
                  </button>
                </div>
              </div>
            </div>
          </form>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>STT</th>
                <th>Ten san pham</th>
                <th>Mo ta</th>
                <th>Trang thai</th>
                <th>Ngay tao</th>
                <th>Ngay cap nhat</th>
                <th>Thao tac</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="product, iterStat : ${products}">
                <td th:text="${iterStat.count}"></td>
                <td th:text="${product.name}"></td>
                <td th:text="${product.description}"></td>
                <td>
                  <span
                    th:if="${product.status == 1}"
                    class="badge badge-success"
                    >Dang ban</span
                  >
                  <span
                    th:if="${product.status == 0}"
                    class="badge badge-danger"
                    >Ngung ban</span
                  >
                </td>
                <td
                  th:text="${#dates.format(product.createdDate, 'dd/MM/YYYY')}"
                ></td>
                <td
                  th:text="${#dates.format(product.updatedDate, 'dd/MM/YYYY')}"
                ></td>
                <td>
                  <a
                    th:href="@{/product/edit?id={id}(id=${product.id})}"
                    class="btn btn-primary"
                    ><i class="fas fa-edit"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
          <nav
            class="d-flex justify-content-end"
            aria-label="Page navigation example"
          >
            <ul class="pagination">
              <li th:if="${currentPage > 0}" class="page-item">
                <a
                  class="page-link"
                  th:href="@{'/product?page='+${currentPage-1}}"
                  >Previous</a
                >
              </li>

              <li
                th:block
                th:each="page : ${#numbers.sequence(1, totalPages)}"
                th:classappend="${currentPage == page-1 ? 'active' : ''}"
                class="page-item"
              >
                <a class="page-link" th:href="@{'/product?page='+${page-1}}"
                  >[[${page}]]</a
                >
              </li>

              <li th:if="${currentPage+1!=totalPages}" class="page-item">
                <a
                  class="page-link"
                  th:href="@{'/product?page='+${currentPage+1}}"
                  >Next</a
                >
              </li>
            </ul>
          </nav>
        </div>
        <div class="container w-25 p-5">
          <form
            class=""
            action="#"
            th:action="@{/product/save}"
            th:object="${product}"
            method="post"
          >
            <div class="form-group">
              <label for="name">Ten san pham</label>
              <input
                type="text"
                class="form-control"
                th:id="name"
                placeholder="Ten san pham"
                th:field="*{name}"
              />
              <span
                th:if="${#fields.hasErrors('name')}"
                th:errors="*{name}"
              ></span>
            </div>
            <div class="form-group">
              <label for="description">Mo ta</label>
              <input
                type="text"
                class="form-control"
                th:id="description"
                placeholder="Mo ta san pham"
                th:field="*{description}"
              />
              <span
                th:if="${#fields.hasErrors('description')}"
                th:errors="*{description}"
              ></span>
            </div>
            <div class="form-group">
              <label for="name" class="d-block">Trang thai</label>
              <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label
                  th:attr="class=${product.status ==1 ? 'btn btn-primary active':'btn btn-primary'} "
                >
                  <input
                    type="radio"
                    name="status"
                    th:id="option1"
                    autocomplete="off"
                    value="1"
                    th:checked="${product.status == 1}"
                  />
                  Dang ban
                </label>
                <label
                  th:attr="class=${product.status ==0 ? 'btn btn-primary active':'btn btn-primary'} "
                >
                  <input
                    type="radio"
                    name="status"
                    th:id="option2"
                    autocomplete="off"
                    value="0"
                    th:checked="${product.status == 0}"
                  />
                  Ngung ban
                </label>
              </div>
            </div>
            <div class="d-flex flex-row-reverse">
              <button type="submit" class="btn btn-primary">Them</button>
              <button
                type="button"
                class="btn btn-secondary mr-2"
              >
                Huy
              </button>
            </div>
          </form>
        </div>
      </div>
    </section>
  </body>
</html>
