<!DOCTYPE html>
<html
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/admin}"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sửa sản phẩm chi tiết</title>
    <script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
    <link
      rel="stylesheet"
      href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css"
      type="text/css"
    />
  </head>
  <body>
    <section layout:fragment="content">
      <h1 class="px-5">Sửa sản phẩm chi tiết</h1>
      <form
        action="#"
        th:action="@{/product-detail/edit?id={id}(id=${productDetail.id})}"
        method="post"
        th:object="${productDetail}"
      >
        <div class="d-flex p-2">
          <div class="container-fruid p-5 w-75">
            <div class="form-group">
              <label for="name">Tên sản phẩm chi tiết</label>
              <input
                type="text"
                class="form-control"
                id="name"
                placeholder="Nhập tên sản phẩm chi tiết"
                th:field="*{name}"
              />
            </div>
            <div class="form-group">
              <label for="price">Giá</label>
              <input
                type="text"
                class="form-control"
                id="price"
                placeholder="Nhập giá"
                th:field="*{price}"
              />
            </div>
            <div class="form-group">
              <label for="quantity">Số lượng</label>
              <input
                type="text"
                class="form-control"
                id="quantity"
                placeholder="Nhập số lượng"
                th:field="*{quantity}"
              />
            </div>
            <div class="form-group">
              <label for="image">Hình ảnh</label>
              <div id="dZUpload" class="dropzone">
                <div class="dz-default dz-message"></div>
              </div>
            </div>
            <div class="form-group">
              <label for="status">Trạng thái</label>
              <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-primary active">
                  <input
                    type="radio"
                    name="status"
                    id="option1"
                    autocomplete="off"
                    value="1"
                    checked
                  />
                  Đang bán
                </label>
                <label class="btn btn-primary">
                  <input
                    type="radio"
                    name="status"
                    id="option2"
                    value="0"
                    autocomplete="off"
                  />
                  Ngừng bán
                </label>
              </div>
            </div>
          </div>
          <div class="container w-25 p-5">
            <div class="form-group">
              <div class="d-flex justify-content-between">
                <label for="product">Sản phẩm</label>
                <a href="/product">Thêm sản phẩm</a>
              </div>
              <select class="form-control" th:field="*{productId}">
                <option value="">Sản phẩm</option>
                <option
                  th:each="product : ${products}"
                  th:value="${product.id}"
                  th:text="${product.name}"
                >
                  Sản phẩm
                </option>
              </select>
            </div>
            <div class="form-group">
              <div class="d-flex justify-content-between">
                <label for="brand">Nhãn hàng</label>
                <a href="/brand">Thêm nhãn hàng</a>
              </div>
              <select class="form-control" th:field="*{brandId}">
                <option value="">Nhãn hàng</option>
                <option
                  th:each="brand : ${brands}"
                  th:value="${brand.id}"
                  th:text="${brand.name}"
                >
                  Nhãn hàng
                </option>
              </select>
            </div>
            <div class="form-group">
              <div class="d-flex justify-content-between">
                <label for="sole">Đế giày</label>
                <a href="/sole">Thêm đế giày</a>
              </div>
              <select class="form-control" th:field="*{soleId}">
                <option value="">Đế giày</option>
                <option
                  th:each="sole : ${soles}"
                  th:value="${sole.id}"
                  th:text="${sole.name}"
                >
                  Đế giày
                </option>
              </select>
            </div>
            <div class="form-group">
              <div class="d-flex justify-content-between">
                <label for="insole">Lót giày</label>
                <a href="/insole">Thêm lót giày</a>
              </div>
              <select class="form-control" th:field="*{insoleId}">
                <option value="">Lót giày</option>
                <option
                  th:each="insole : ${insoles}"
                  th:value="${insole.id}"
                  th:text="${insole.name}"
                >
                  Đế giày
                </option>
              </select>
            </div>
            <div class="form-group">
              <div class="d-flex justify-content-between">
                <label for="color">Màu sắc</label>
                <a href="/color">Thêm màu sắc</a>
              </div>
              <select class="form-control" th:field="*{colorId}">
                <option value="">Màu sắc</option>
                <option
                  th:each="color : ${colors}"
                  th:value="${color.id}"
                  th:text="${color.name}"
                >
                  Màu sắc
                </option>
              </select>
            </div>
            <div class="form-group">
              <div class="d-flex justify-content-between">
                <label for="size">Kích cỡ</label>
                <a href="/size">Thêm kích cỡ</a>
              </div>
              <select class="form-control" th:field="*{sizeId}">
                <option value="">Kích cỡ</option>
                <option
                  th:each="size : ${sizes}"
                  th:value="${size.id}"
                  th:text="${size.name}"
                >
                  Kích cỡ
                </option>
              </select>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-center w-100">
          <button type="submit" class="btn btn-primary w-100">Lưu</button>
        </div>
      </form>
    </section>
    <script>
      // $(document).ready(function () {
      //   Dropzone.autoDiscover = false;
      //   $("#dZUpload").dropzone({
      //     url: "/image-upload",
      //     addRemoveLinks: true,
      //     success: function (file, response) {
      //       var imgName = response;
      //       file.previewElement.classList.add("dz-success");
      //       console.log("Successfully uploaded :" + imgName);
      //     },
      //     error: function (file, response) {
      //       file.previewElement.classList.add("dz-error");
      //     },
      //   });
      // });
    </script>
  </body>
</html>
