<!DOCTYPE html>
<html
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/admin}"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Màu</title>
  </head>
  <body>
    <section layout:fragment="content">
      <div class="d-flex p-2">
        <div class="container-fluid p-5 text-center">
          <div>
            <span>Số lượng màu: [[${len_color}]]</span>
          </div>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>STT</th>
                <th>Màu</th>
                <!-- <th>Trang thai</th> -->
                <th>Ngay tao</th>
                <th>Ngay cap nhat</th>
                <th>Thao tac</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="color, iterStat : ${colors}">
                <td th:text="${iterStat.count}"></td>
                <td th:text="${color.name}"></td>
                <!-- <td>
                  <span th:if="${color.deleted == false}" class="badge badge-success"
                    >Dang ban</span
                  >
                  <span th:if="${color.deleted == true}" class="badge badge-danger"
                    >Ngung ban</span
                  >
                </td> -->
                <td
                  th:text="${#dates.format(color.createdDate, 'dd/MM/YYYY')}"
                ></td>
                <td
                  th:text="${#dates.format(color.updatedDate, 'dd/MM/YYYY')}"
                ></td>
                <td>
                  <!-- link to edit page -->
                  <a
                    th:href="@{/color/edit?id={id}(id=${color.id})}"
                    class="btn btn-primary"
                    ><i class="fas fa-edit"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="container w-25 p-5">
          <form
            class=""
            action="#"
            th:action="@{/color/edit?id={id}(id=${color.id})}"
            th:object="${color}"
            method="post"
          >
            <div class="form-group">
              <label for="name">Màu</label>
              <input
                type="text"
                class="form-control"
                th:id="name"
                placeholder="Màu"
                th:field="*{name}"
              />
              <span
                th:if="${#fields.hasErrors('name')}"
                th:errors="*{name}"
              ></span>
            </div>
            <!-- <div class="form-group">
              <label for="name" class="d-block">Trang thai</label>
              <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label
                  th:attr="class=${color.deleted ==false ? 'btn btn-primary active':'btn btn-primary'} "
                >
                  <input
                    type="radio"
                    name="deleted"
                    th:id="option1"
                    autocomplete="off"
                    value="false"
                    th:checked="${color.deleted == false}"
                  />
                  Dang ban
                </label>
                <label
                  th:attr="class=${color.deleted ==true ? 'btn btn-primary active':'btn btn-primary'} "
                >
                  <input
                    type="radio"
                    name="deleted"
                    th:id="option2"
                    autocomplete="off"
                    value="true"
                    th:checked="${color.deleted == true}"
                  />
                  Ngung ban
                </label>
              </div>
            </div> -->
            <div class="d-flex flex-row-reverse">
              <button type="submit" class="btn btn-primary">Sửa</button>
              <button
                type="reset"
                class="btn btn-secondary mr-2"
              >
                Huy
              </button>
            </div>
          </form>
        </div>
      </div>
    </section>
  </body>
</html>
