<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/admin}"
>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Form</title>
</head>
<body>
<section layout:fragment="content">
    <div class="container">
        <h2>Thêm mới trạng thái đơn hàng</h2>

        <form th:action="@{/create}" th:object="${dto}" method="post">
            <div class="mb-3">
                <label class="form-label">Mô tả trạng thái</label>
                <input type="text" name="valueStatus" th:field="*{valueStatus}" class="form-control"
                       placeholder="Nhập trạng thái đơn hàng">
                <p style="font-size: small;color: darkred" th:if="${#fields.hasErrors('valueStatus')}" th:errorclass="error" th:errors="*{valueStatus}"/>
            </div>

            <button type="submit" class="btn btn-primary">Thêm mới</button>
            <a th:href="@{/page/0}" class="btn btn-info">Quay lại</a>
        </form>
    </div>

</section>
</body>
</html>
