<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/admin}"
>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Order-Status</title>
</head>
<body>
<section layout:fragment="content">
    <div class="container">
        <h2>Order Status</h2>

        <form class="mb-3 w-100">
            <div class="row">
                <div class="col-md-4">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Nhập từ khóa">
                        <button type="submit" class="btn btn-primary">Tìm kiếm</button>
                    </div>
                </div>
            </div>
        </form>

        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>ID</th>
                <th>Trạng thái</th>
                <th style="width: 150px;">Hành động</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="status : ${orderStatus}">
                <td th:text="${status.id}"></td>
                <td th:text="${status.valueStatus}"></td>
                <td>
                    <a th:href="@{/edit(id=${status.id})}" class="btn btn-primary">Sửa</a>
                    <a th:href="@{/delete/{id}(id=${status.id})}" class="btn btn-danger">Xóa</a>

                </td>

            </tr>
            </tbody>
        </table>
        <nav class="d-flex justify-content-end" aria-label="Page navigation example">
            <ul class="pagination">
                <li th:if="${currentPage > 0}" class="page-item">
                    <a class="page-link" th:href="@{'/page/'+${currentPage-1}}">Previous</a>
                    <!--<a class="page-link" th:href="@{/order-status/all(pageno=${currentPage-1})}">Previous</a>-->
                </li>

                <li th:block th:each="page : ${#numbers.sequence(1, totalPages)}"
                    th:classappend="${currentPage == page-1 ? 'active' : ''}"
                    class="page-item">
                    <a class="page-link" th:href="@{'/page/'+${page-1}}">[[${page}]]</a>
                </li>

                <li th:if="${currentPage+1!=totalPages}" class="page-item">
                    <a class="page-link" th:href="@{'/page/'+${currentPage+1}}">Next</a>
                </li>
            </ul>
        </nav>

        <a th:href="@{/convert}" class="btn btn-info">Thêm mới</a>

    </div>

</section>
</body>
</html>
