<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/admin}"
>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Order Item</title>
</head>
<body>
<section layout:fragment="content">

    <div class="container-sm mt-5">
        <form th:object="${orders}">
            <input type="hidden" name="id" th:field="*{id}">
            <span class="d-flex">
            <h2 class="mb-4">Thông tin hóa đơn chi tiết</h2>
            <h2 style="margin-left: 8px" class="mb-4" th:utext="*{code}"></h2>
        </span>
            <div class="row mb-3 ml-0">
                <div class="d-flex justify-content-between w-100">
                    <div class="d-flex">
                        <p class="mb-4">Phương thức thanh toán:</p>
                        <p style="margin-left: 8px" class="mb-4" th:utext="*{paymentMethod}"></p>
                    </div>
                    <div class="d-flex">
                        <p class="mb-4 text-right">Thời gian đặt: </p>
                        <p style="margin-left: 8px" class="mb-4" th:utext="*{createdDate}"></p>
                    </div>
                </div>


                </span>
            </div>
            <p>Thông tin người đặt</p>
            <div class="row mb-3">
                <div class="col">
                    <label class="form-label">Họ và tên</label>
                    <input type="text" name="nameCustomer" th:field="*{nameCustomer}" class="form-control" readonly>
                </div>
                <div class="col">
                    <label class="form-label">Số điện thoại</label>
                    <input type="text" class="form-control" id="phoneCustomer" th:field="*{phoneCustomer}" readonly>
                </div>
                <div class="col">
                    <label class="form-label">Email</label>
                    <input type="text" class="form-control" id="emailCustomer" th:field="*{emailCustomer}" readonly>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label">Địa chỉ chi tiết</label>
                <input type="text" class="form-control" id="addressCustomer" th:field="*{addressCustomer}" readonly>
            </div>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Tên sản phẩm</th>
                    <th>Màu sản phẩm</th>
                    <th>Kích thước giày</th>
                    <th>Thương hiệu sản phẩm</th>
                    <th>Đơn giá</th>
                    <th>Số lượng</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item: ${item}">
                    <td th:text="${item.nameProduct}"/>
                    <td th:text="${item.colorProduct}"/>
                    <td th:text="${item.sizeProduct}"/>
                    <td th:text="${item.brandProduct}"/>
                    <td th:text="${item.priceSell}"/>
                    <td th:text="${item.quantityOrder}"/>
                </tr>
                </tbody>
            </table>
            <div class="d-flex justify-content-end">
                <p class="mb-4">Tổng tiền: </p>
                <p style="margin-left: 8px" class="mb-4" th:utext="*{totalPrice}"></p>
            </div>
            <div class="d-flex justify-content-end">
                <p class="mb-4">Khuyến mãi đơn hàng: </p>
                <p style="margin-left: 8px" class="mb-4" th:utext="*{voucher}"></p>
            </div>
            <div class="mb-3">
                <label class="form-label">Trạng thái đơn hàng:</label>
                <input type="text" class="form-control" id="status" th:field="*{status}" readonly>
            </div>
            <div class="mb-3">
                <label class="form-label">Ghi chú:</label>
                <input type="text" class="form-control" id="note" th:field="*{note}" readonly>
            </div>
            <div class="mb-3">
                <label class="form-label">Loại đơn:</label>
                <input type="text" class="form-control" id="typeOrders" th:field="*{typeOrders}" readonly>
            </div>
        </form>
    </div>

</section>
<script
        th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"
></script>
</body>
</html>
