<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/admin}"
>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Transaction</title>
</head>
<body>
<section layout:fragment="content">
    <div class="container">
        <h2>Transaction</h2>

        <form class="mb-3">
            <div class="row">
                <div class="col-md-4">
                    <div class="input-group">
                        <input type="text" class="form-control" name="code" placeholder="Nhập mã đơn hàng">
                        <button type="submit" class="btn btn-primary">Tìm kiếm</button>
                    </div>
                </div>
            </div>
        </form>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>Mã đơn hàng</th>
                <th>Ngày đặt đơn</th>
                <th>Tên khách hàng</th>
                <th>Số Điện thoại</th>
                <th>Loại đơn hàng</th>
                <th>Tổng giá</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="transaction : ${transaction}">
                <td th:text="${transaction.id}"></td>
                <td th:text="${transaction.codeOrder}"></td>
                <td th:text="${transaction.createdDate}"></td>
                <td th:text="${transaction.nameCustomer}"></td>
                <td th:text="${transaction.phoneCustomer}"></td>
                <td th:text="${transaction.typeOrders}"></td>
                <td th:text="${transaction.totalPrice}"></td>
            </tr>
            </tbody>
        </table>
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li th:if="${currentPage > 0}" class="page-item">
                    <a class="page-link" th:href="@{'/transaction/page/'+${currentPage-1}}">Previous</a>
                    <!--<a class="page-link" th:href="@{/order-status/all(pageno=${currentPage-1})}">Previous</a>-->
                </li>

                <li th:block th:each="page : ${#numbers.sequence(1, totalPages)}"
                    th:classappend="${currentPage == page-1 ? 'active' : ''}" class="page-item">
                    <a class="page-link" th:href="@{'/transaction/page/'+${page-1}}">[[${page}]]</a>
                </li>

                <li th:if="${currentPage+1!=totalPages}" class="page-item">
                    <a class="page-link" th:href="@{'/transaction/page/'+${currentPage+1}}">Next</a>
                </li>
            </ul>
        </nav>


    </div>
</section>
</body>
</html>
